
.row
    .small-1.medium-1.columns
    .small-12.medium-4.columns
        form
            fieldset
                legend Add Tips
                label Date
                    input(type='date', ng-model='date')
                label Sales
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='tip.sales')
                label Walking Tips
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='tip.tips')
                button.small.radius.success(ng-click='create(tip, date)') Add
    .small-1.medium-7.columns