.row
    .small-12.medium-4.columns
        form
            fieldset
                legend Monthly Expenses
                label.i.fa.fa-home &nbsp Rent
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='expenses.rent')
                label.i.fa.fa-cutlery &nbsp Groceries (weekly amount x 4)
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='expenses.groceries')
                label.i.fa.fa-plug &nbsp Utilities
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='expenses.utilities')
                label.i.fa.fa-money &nbsp Savings (optional)
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='expenses.savings')
                label.i.fa.fa-question &nbsp Other (optional)
                .row.collapse.prefix-radius
                    .small-3.columns
                        span.prefix $       
                    .small-9.columns
                        input(type='number', ng-model='expenses.other')
                label.i.fa.fa-pie-chart &nbsp % of Tips Put Toward Expenses
                .row.collapse.prefix-radius     
                    .small-9.columns
                        input(type='number', ng-model='expenses.percent')
                    .small-3.columns
                        span.postfix %      
                button.small.radius.success(ng-click='create(expenses)') Add
    .small-1.medium-7.columns